<div th:fragment="footer">

        <footer class="text-muted py-5 mt-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">В начало</a>
                </p>
                <p class="mb-1">Данный сайт был создан с помощью © Bootstrap.</p>
                <p class="mb-0">Интересно, что такое Bootstrap? <a href="https://getbootstrap.com/">Прошу сюда</a> или более подробно в руководстве по началу работы с <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Bootstrap</a>.</p>
            </div>
        </footer>

</div>