<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

            <span class="fs-2">This Project</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/Nadik">О нас</a>
<!--            <a th:action="@{/login}" method="post" class="me-3 py-2 text-dark text-decoration-none" href="/login">in</a>-->
<!--            <a th:action="@{/logout}" method="post" class="me-3 py-2 text-dark text-decoration-none" href="/">out</a>-->
            <form th:action="@{/login}" method="post"><input type="submit" value="Войти"/></form>
            <form th:action="@{/logout}" method="post"><input type="submit" value="Выйти"/></form>
        </nav>

    </div>
</div>